<link rel="stylesheet" href="/css/app-home.css">
<div class="app-main">
    {{!-- <h3>Cookbook: {{ title }}</h3> --}}
    <div class="card w-75 mb-3">
        <div class="card-body">
            <div class="d-flex justify-content-between">
                <button type="button" class="edit"><img id="edit" data-edit="false" class="pencil" src="/assets/Images/pencil.png"></button>
                <h5 class="card-title editable" contenteditable="false" id="title">{{title}}</h5> {{#if isEditor}}<img id="settings-btn" width="30" height="30" src="https://img.icons8.com/ios/50/000000/settings--v1.png" alt="settings--v1"/>{{/if}}
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item"><small class="editable" contenteditable="false" id="description">{{description}}</small></li>
                <li class="list-group-item">Creator: {{creator.username}} </li>
                <li class="list-group-item">Recipes: </li>
                {{!-- <li class="list-group-item">Shared Users: </li> --}}
                <li class="list-group-item">
                </li>
            </ul>
        </div>
    </div>
        {{#if isEditor}}
        <div class="card w-75 mb-3 visible-false" id="settings-card" data-visible="false" data-id="{{id}}">
            <h5 class="card-title card-body">Settings</h5>
            <div class="card-body">
                <ul id="settings-update" class="list-group list-group-flush">
                    {{#if isOwner}}
                    <li class="list-group-item">Private: <input type="checkbox" {{#unless isPublic}}checked {{/unless}}></li>
                    {{/if}}
                    <li class="list-group-item">Add Editor: <input id="editor" type="text"><button id="add-editor" class="add-btn btn-primary">+</button></li> 
                    <li class="list-group-item">Add Viewer: <input id="viewer" type="text"><button id="add-viewer" class="add-btn btn-primary">+</button></li>
                    <li class="list-group-item"><button class="btn btn-danger" id="delete-cookbook">Delete Cookbook</button></li>
            </div>
        </div>
    {{/if}}
    <div class="card w-75 mb-3">
                <div class="card-body">
                    <div class="card-container">
                        <h5 id="card2-title">Recipes</h5>
                        <a href="../recipe" class="add-btn btn-primary">+</a>
                    </div>
                    <div class="list-group list-group-flush">
                        {{#each recipes as |recipe|}}
                        <li class="list-group-item">
                            <a href="../recipe/{{recipe.id}}">
                                {{!-- <button type="button" class="list-group-item list-group-item-action">{{recipe.title}}</button> --}}
                                <div class="d-flex w-100 justify-content-between">
                                    <h5 class="mb-1">{{recipe.title}}</h5>
                                    {{!-- <small class="text-body-secondary">Creator: {{ recipe.creator }}</small> --}}
                                </div>
                                <small class="text-body-secondary">Creator: {{ recipe.user.username }}</small>
                            </a>
                        </li>
                        {{/each}}
                    </div>
                </div>
            </div>
</div>
<script src="/js/cookbook.js"></script>