<div class="app-main">
    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">{{ recipe.title }}</h5>
            {{!-- <h6 class="card-subtitle mb-2 text-body-secondary">Brief Description for the recipe</h6> --}}
        </div>
    </div>

    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Ingredients</h5>
            <ul class="list-group list-group-flush">
                {{#each recipe.ingredients as |ingredient|}}
                <li class="list-group-item">{{ingredient}}</li>
                {{/each}}
                {{!-- <li class="list-group-item">An item</li>
                <li class="list-group-item">A second item</li>
                <li class="list-group-item">A third item</li>
                <li class="list-group-item">A fourth item</li>
                <li class="list-group-item">And a fifth one</li> --}}
            </ul>
        </div>
    </div>

    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col-4">
                    <div id="list-example" class="list-group">
                        {{#each recipe.directions as |direction|}}
                        <a class="list-group-item list-group-item-action" href="#list-item-{{direction.step}}">{{direction.step}}</a>
                        {{/each}}
                    </div>
                </div>
                <div class="col-8">
                    <div data-bs-spy="scroll" data-bs-target="#list-example" data-bs-smooth-scroll="true"
                        class="scrollspy-example" tabindex="0">
                        {{#each recipe.directions as |direction|}}
                        <h4 id="list-item-1">Step {{direction.step}}</h4>
                        <p>{{direction.direction}}</p>
                        {{/each}}
                        {{!-- <h4 id="list-item-2">Step 2</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                        <h4 id="list-item-3">Step 3</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                        <h4 id="list-item-4">Step 4</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p> --}}
                    </div>
                </div>

            </div>
        </div>

    </div>

</div>