<link rel="stylesheet" href="/css/app-home.css">
<div class="app-main">
    <h3>Cookbook: {{ title }}</h3>
<div class="card w-75 mb-3">
            <div class="card-body">
                <div class="card-container">
                    <h5 id="card2-title">Recipes</h5>
                    <a href="../recipe" class="add-btn btn-primary">+</a>
                </div>
                <div class="list-group">
                    {{#each recipes as |recipe|}}
                    <a href="../recipe/{{recipe.id}}">
                        {{!-- <button type="button" class="list-group-item list-group-item-action">{{recipe.title}}</button> --}}
                        <div class="d-flex w-100 justify-content-between">
                            <h5 class="mb-1">{{recipe.title}}</h5>
                            {{!-- <small class="text-body-secondary">Creator: {{ recipe.creator }}</small> --}}
                        </div>
                        <small class="text-body-secondary">Creator: {{ recipe.user.username }}</small>
                        </a>
                    </a>
                    {{/each}}
                </div>
            </div>
        </div>
    
</div>