<head>
    <link rel="stylesheet" href="/css/recipe.css">
    <link href="https://fonts.googleapis.com/css2?family=Hind+Siliguri&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Chewy&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Red+Hat+Display&display=swap" rel="stylesheet">
</head>

<div class="app-main">
    <div class="card">
        <div class="card-body">
            <h1>{{ recipe.title }} <a href="/app/recipe/update/{{recipe.id}}">
                    <button type="button" class="edit-btn"><img width="30" height="30"
                            src="/assets/Images/pencil.png" alt="settings--v1" />
                    </button>
                </a>
            </h1>
        </div>
    </div>

    <div class="card">
        <div class="card-body">
            <h2 class="card-title">Ingredients</h2>
            <ul class="list-group list-group-flush">
                {{#each recipe.ingredients as |ingredient|}}
                <li class="list-group-item">{{ingredient}}</li>
                {{/each}}
            </ul>
        </div>
    </div>

    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col-4">
                    <div id="list-example" class="list-group">
                        {{#each recipe.directions as |direction|}}
                        <a class="list-group-item list-group-item-action"
                            href="#list-item-{{direction.step}}">{{direction.step}}</a>
                        {{/each}}
                    </div>
                </div>
                <div class="col-8">
                    <div data-bs-spy="scroll" data-bs-target="#list-example" data-bs-smooth-scroll="true"
                        class="scrollspy-example" tabindex="0">
                        {{#each recipe.directions as |direction|}}
                        <h3>Step {{direction.step}}</h3>
                        <p>{{direction.direction}}</p>
                        {{/each}}
                    </div>
                </div>

            </div>
        </div>

    </div>

</div>