<div class="row d-flex justify-content-center">
    {{!-- Cookbook Update (PUT request) --}}
    <div class="form-container col-md-4">
        <form class="form">

            <h1 class="username" data-user-id="{{creator_id}}" data-cookbook-id="{{cookbook.id}}">Update a Cookbook</h1>
            <div class="row">

                <div class="mb-3 col-6">
                    <label>Title:</label>
                    <input class="form-control" type="text" id="title" name="title" placeholder="{{cookbook.title}}"
                        value="{{cookbook.title}}">
                </div>
            </div>

            <div class="mb-3">
                <label>Description: </label>
                <input class="form-control description" type="text" name="description"
                    placeholder="{{cookbook.description}}" value="{{cookbook.description}}">
            </div>

            <div class="mb-3 viewers-div">
                <label for="viewers">Viewers:
                    <div class="col-2 d-flex align-items-center">
                        <img class="plus-img" onclick="addRemoveViewers" width="30" height="30"
                            src="https://img.icons8.com/color/48/plus--v1.png" alt="plus--v1" />
                    </div>
                </label>
                {{!-- Checks for viewer permissions before rendering --}}
                {{#each userCookbooks as |userCookbook|}}
                {{#if (eq userCookbook.permissions 'viewer')}}
                {{> viewer-list}}
                {{/if}}
                {{/each}}
            </div>

            <div class="mb-3 editors-div">
                <label for="editors">Editors:
                    <div class="col-2 d-flex align-items-center">
                        <img class="plus-img" onclick="addRemoveViewers" width="30" height="30"
                            src="https://img.icons8.com/color/48/plus--v1.png" alt="plus--v1" />
                    </div>
                </label>
                {{!-- Checks for editor permissions before rendering --}}
                {{#each userCookbooks as |userCookbook|}}
                {{#if (eq userCookbook.permissions 'editor')}}
                {{> editor-list}}
                {{/if}}
                {{/each}}
            </div>

            <div class="mb-3">
                <input type="checkbox" class="btn-check" id="isPublic" autocomplete="off"
                    data-is-public="{{cookbook.isPublic}}">
                <label class="btn btn-outline-primary" for="isPublic">Check this box to make your cookbook
                    public!</label>
            </div>


            <div class="mb-3 d-flex justify-content-center">
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>

        </form>
    </div>
</div>

<script src="../../../js/cookbookUpdate.js"></script>